body{
    background-color:#191919;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}
a{
    text-decoration: none;
    color: inherit;
}

/* MAIN CONTENET */
.head{
    color: white;
    text-align: center;
    line-height: 1.4em;
}

.main{
    width: 80%;
    max-width: 100%;
    /* border: 1px solid #eee; */
    margin: 30vh 10% 10px 10%;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
button{
    width:calc(20vw + 6px);
  height:calc(8vw + 6px);
    margin: 15px auto;
    line-height: 1.4em;
    cursor: pointer;
    font-size:3vw;
    font-weight:bold;
    border-radius: 5px;
}

.red{
    background-color: red;
    border: 1px solid black;
    color: white;
}

.blue{
    background-color: blue;
    border: 1px solid black;
    color: white;
}

button:hover{
    border: 2px solid white;
}
